<include file="index/header" />

<form class="form-horizontal" action="__ROOT__/admin.php?c=editor&a=update" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="title" class="col-sm-2 col-sm-offset-1 control-label">菜名</label>
    <div class="col-sm-5">
      <input type="text" name="title" class="form-control" id="title" placeholder="" value="{$list1.title}">
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 col-sm-offset-1 control-label">描叙</label>
    <div class="col-sm-5">
      <input type="text" name="content" class="form-control" id="content" value="{$list1.content}">
    </div>
  </div>
    <div class="form-group">
    <label for="" class="col-sm-2 col-sm-offset-1 control-label">菜系</label>
    <div class="col-sm-5">
      <select class="form-control" name="category">
  <option value="中餐" <if condition ="$list1['category'] eq '中餐'">selected="selected"</if>>中餐</option>
  <option value="面包" <if condition ="$list1['category'] eq '面包'">selected="selected"</if>>面包</option>
  <option value="西餐" <if condition ="$list1['category'] eq '西餐'">selected="selected"</if>>西餐</option>
  <option value="水果" <if condition ="$list1['category'] eq '水果'">selected="selected"</if>>水果</option>
  <option value="冷菜" <if condition ="$list1['category'] eq '冷菜'">selected="selected"</if>>冷菜</option>

</select>
    </div>
  </div>
  <div class="form-group">
    <label for="show" class="col-sm-2 col-sm-offset-1 control-label">内容</label>
    <div class="col-sm-5">
      <textarea name="show" class="form-control" id="show">{$list1.show|default="请添加内容..."}</textarea>
    </div>
  </div>
   <div class="form-group">
    <label for="image" class="col-sm-2  col-sm-offset-1 control-label">图片</label>
    <div class="col-sm-5">
      <input type="file" name="image" class="form-control" id="image">
      <input type="hidden" name="img" value="{$list1.image}">
      <input type="hidden" name="menu_id" value="{$list1.menu_id}">
     <img width="180px" height="200px" src="{$list1.image}">
        </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-5" style="top:10px">
      <button type="submit" class="btn btn-info">修&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改</button>
    </div>
  </div>
</form>
<include file="index/buttom" />